--
-- PostgreSQL database dump
--

\restrict hByrjw4hxy7yD0Gt3Tjm5a1cLOB8fSjyM2BaUMOIoNa7kImlSdggxYHzzCMywKn

-- Dumped from database version 17.10
-- Dumped by pg_dump version 17.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: crime; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.crime (
    crime_id integer NOT NULL,
    crime_type character varying(120) NOT NULL,
    date date NOT NULL,
    "time" time without time zone NOT NULL,
    severity character varying(30) NOT NULL,
    description character varying(500),
    location_id integer NOT NULL
);


ALTER TABLE public.crime OWNER TO postgres;

--
-- Name: crime_crime_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.crime_crime_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.crime_crime_id_seq OWNER TO postgres;

--
-- Name: crime_crime_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.crime_crime_id_seq OWNED BY public.crime.crime_id;


--
-- Name: location; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.location (
    location_id integer NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    address character varying(255),
    city character varying(120),
    state character varying(120),
    country character varying(120)
);


ALTER TABLE public.location OWNER TO postgres;

--
-- Name: location_location_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.location_location_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.location_location_id_seq OWNER TO postgres;

--
-- Name: location_location_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.location_location_id_seq OWNED BY public.location.location_id;


--
-- Name: police_station; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.police_station (
    station_id integer NOT NULL,
    name character varying(255) NOT NULL,
    phone character varying(50),
    email character varying(255),
    location_id integer NOT NULL
);


ALTER TABLE public.police_station OWNER TO postgres;

--
-- Name: police_station_station_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.police_station_station_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.police_station_station_id_seq OWNER TO postgres;

--
-- Name: police_station_station_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.police_station_station_id_seq OWNED BY public.police_station.station_id;


--
-- Name: crime crime_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.crime ALTER COLUMN crime_id SET DEFAULT nextval('public.crime_crime_id_seq'::regclass);


--
-- Name: location location_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.location ALTER COLUMN location_id SET DEFAULT nextval('public.location_location_id_seq'::regclass);


--
-- Name: police_station station_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.police_station ALTER COLUMN station_id SET DEFAULT nextval('public.police_station_station_id_seq'::regclass);


--
-- Data for Name: crime; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.crime (crime_id, crime_type, date, "time", severity, description, location_id) FROM stdin;
1	Theft	2026-07-01	18:30:00	Medium	Reported theft near a transit area.	1
2	Assault	2026-07-02	22:10:00	High	Late-night assault incident.	2
3	Robbery	2026-07-03	20:45:00	High	Robbery reported near a commercial road.	3
4	Pickpocketing	2026-07-04	14:15:00	Low	Minor pickpocketing incident.	2
5	Vandalism	2026-07-05	23:05:00	Medium	Property vandalism reported.	1
\.


--
-- Data for Name: location; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.location (location_id, latitude, longitude, address, city, state, country) FROM stdin;
1	28.6139	77.209	New Delhi	New Delhi	Delhi	India
2	19.076	72.8777	Mumbai	Mumbai	Maharashtra	India
3	12.9716	77.5946	Bengaluru	Bengaluru	Karnataka	India
\.


--
-- Data for Name: police_station; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.police_station (station_id, name, phone, email, location_id) FROM stdin;
1	Central Police	+91-1111111111	central.police@example.com	3
2	South Police	+91-2222222222	south.police@example.com	2
\.


--
-- Name: crime_crime_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.crime_crime_id_seq', 1, false);


--
-- Name: location_location_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.location_location_id_seq', 1, false);


--
-- Name: police_station_station_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.police_station_station_id_seq', 1, false);


--
-- Name: crime crime_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.crime
    ADD CONSTRAINT crime_pkey PRIMARY KEY (crime_id);


--
-- Name: location location_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.location
    ADD CONSTRAINT location_pkey PRIMARY KEY (location_id);


--
-- Name: police_station police_station_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.police_station
    ADD CONSTRAINT police_station_pkey PRIMARY KEY (station_id);


--
-- Name: crime crime_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.crime
    ADD CONSTRAINT crime_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.location(location_id);


--
-- Name: police_station police_station_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.police_station
    ADD CONSTRAINT police_station_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.location(location_id);


--
-- PostgreSQL database dump complete
--

\unrestrict hByrjw4hxy7yD0Gt3Tjm5a1cLOB8fSjyM2BaUMOIoNa7kImlSdggxYHzzCMywKn

